/* Set the default params of the all website */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: #555;
    font-family: 'Lato','Arial',sans-serif;
    font-size: 20px;
    font-weight: 300;
    /* text-rendering: optimizeLegibility make our font rendering in a perfect way  */
    text-rendering: optimizeLegibility;
}

.row {
    /* Determinating max-width for stay fixed */
    max-width: 1140px;
    margin: 0 auto;
}

/* HEADER */
header {
    /* In this case, I put the linear-gradient of the black to black for the image to stay dark */
    /* I used two techniques using  linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)) , url('../css/img/hero.jpg')*/
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)) , url('../css/img/hero.jpg');
    /* background-size: cover; to serve for the image to fill of the correct way */
    background-size: cover;
    background-position: center;
    /* height: 100vh; to do te image to fill the full viewport */
    height: 100vh;
}
.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 240%;
    font-weight: 300;
    text-transform: uppercase;
    /* the letter-spacing to serve for increase or decrease between characters */
    letter-spacing: 1px;
    /* the word-spacing to serve for increace or decrease the space between words */
    word-spacing: 4px;
}

/* Buttons */
/* the pseudo-classes link and visited are for when someone still not visited and visited*/
/* They are as initial states */
.btn:link,
.btn:visited {
    display: inline-block;
    padding: 10px 30px; 
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}
.btn-full:link,
.btn-full:visited {
    background-color: #e67e22;
    border: 1px solid #e67e22;
    color: #fff;
    margin-right: 15px;
}
.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #e67e22;
    color: #e67e22;
}
.btn:hover,
.btn:active {
    background-color: #cf6d17;
}
.btn-full:hover,
.btn-full:active {
    border: 1px solid #cf6d17;
}
.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #cf6d17;
    color: #fff;
}