/* Set the default params of the all website */

/* ---------------------------------------- */
/* BASIC SETUP */
/* ---------------------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: #555;
    font-family: 'Lato','Arial',sans-serif;
    font-size: 20px;
    font-weight: 300;
    /* text-rendering: optimizeLegibility make our font rendering in a perfect way  */
    text-rendering: optimizeLegibility;
}

.clearfix {
    zoom: 1
}

.clearfix::after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/* ---------------------------------------- */
/* REUSABLE COMPONENTS */
/* ---------------------------------------- */
.row {
    /* Determinating max-width for stay fixed */
    max-width: 1140px;
    margin: 0 auto;
}

section {
    /* This padding serve to the white-space*/
    padding: 80px 0;
}

.box {
    padding: 1%;
}

/* ---------------------------------------- */
/* HEADINGS */
/* ---------------------------------------- */
h1,
h2,
h3 {
    font-weight: 300;
    text-transform: uppercase;
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 240%;
    /* the word-spacing to serve for increace or decrease the space between words */
    word-spacing: 4px;
    /* the letter-spacing to serve for increase or decrease between characters */
    letter-spacing: 1px;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    /* the letter-spacing to serve for increase or decrease between characters */
    letter-spacing: 1px;
}
h2::after {
    content: ' ';
    display: block;
    height: 2px;
    background-color: #e67e22;
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

h3 {
    font-size: 110%;
    margin-bottom: 15%;
}

/* ---------------------------------------- */
/* PARAGRAPHS */
/* ---------------------------------------- */
.long-copy {
    line-height: 145%;
    width: 70%;
    /* This form to do the text to stay in the middle, because the box has 70% */
    margin-left: 15%;
}

.box p {
    font-size: 90%;
    line-height: 145%;
}

/* ---------------------------------------- */
/* ICONS */
/* ---------------------------------------- */
.icon-big {
    font-size: 350%;
    display: block;
    margin: 10px 0;
    color: #e67e22;
}

/* ---------------------------------------- */
/* BUTTONS */
/* ---------------------------------------- */
/* the pseudo-classes link and visited are for when someone still not visited and visited*/
/* They are as initial states */
.btn:link,
.btn:visited {
    display: inline-block;
    padding: 10px 30px; 
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}
.btn-full:link,
.btn-full:visited {
    background-color: #e67e22;
    border: 1px solid #e67e22;
    color: #fff;
    margin-right: 15px;
}
.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #e67e22;
    color: #e67e22;
}
.btn:hover,
.btn:active {
    background-color: #cf6d17;
}
.btn-full:hover,
.btn-full:active {
    border: 1px solid #cf6d17;
}
.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #cf6d17;
    color: #fff;
}

/* ---------------------------------------- */
/* HEADER */
/* ---------------------------------------- */
header {
    /* In this case, I put the linear-gradient of the black to black for the image to stay dark */
    /* I used two techniques using  linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)) , url('../css/img/hero.jpg')*/
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)) , url('../css/img/hero.jpg');
    /* background-size: cover; to serve for the image to fill of the correct way */
    background-size: cover;
    background-position: center;
    /* height: 100vh; to do te image to fill the full viewport */
    height: 100vh;
}
.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo {
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
}

.main-nav {
    float: right;
    list-style: none;
    margin-top: 55px;
}
.main-nav li {
    display: inline-block;
    margin-left: 40px;
}
.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    /* I used the border transparent to use transition when I use the hover */
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}
.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #e67e22;
}

/* ---------------------------------------- */
/* FEATURES */
/* ---------------------------------------- */
.section-features .long-copy {
    margin-bottom: 40px;
}

/* ---------------------------------------- */
/* MEALS */
/* ---------------------------------------- */
.section-meals {
    padding: 0;
}
.meals-showcase {
    list-style: none;
    width: 100%;
}
.meals-showcase li {
    display: block;
    float: left;
    width: 25%;
}
.meal-photo {
    /* It was put 100% because the photo has to stay of width 100%*/
    width: 100%;
    margin: 0;
    /* I'm using this property because my images are bigger than my container */
    overflow: hidden;
    /* I do that for transform my container behind my image draker */
    background-color: black;
}
.meal-photo img {
    /* I used opacity to tranforma my image 70% opaque */
    opacity: 0.7;
    width: 100%;
    height: auto;
    transform: scale(1.15);
    transition: transform 0.5s, opacity 0.5s;
}
.meal-photo img:hover {
    opacity: 1;
    transform: scale(1.03);
}

/* ---------------------------------------- */
/* HOW IT WORKS */
/* ---------------------------------------- */
.section-steps {
    background-color: #f4f4f4;
}
.steps-box:first-child {
    text-align: right;
    padding-right: 3%;
    margin-top: 30px;
}
.steps-box:last-child {
    padding-left: 3%;
    margin-top: 70px;
}

.app-screen {
    width: 40%;
}

.works-step {
    margin-bottom: 50px;
}
.works-step:last-of-type {
    margin-bottom: 80px;
}
.works-step div {
    color: #e67e22;
    border: 2px solid #e67e22;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    text-align: center;
    padding: 5px;
    float: left;
    font-size: 150%;
    margin-right: 25px;
}

.btn-app img {
    height: 50px;
    width: auto;
    margin-right: 10px;
}